<div class="social-box d-flex">
	<div class="fb-like align-self-start" data-href="http://www.kumarsjournal.com<%= request.fullpath %>" data-width="120" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div>

	<div class="sharer align-self-end">
		<div class="fb share d-lg-flex d-inline justify-content-center">
			
			<a href="https://www.facebook.com/share.php?title=<%= @post.title %>&u=http://www.kumarsjournal.com<%= request.fullpath %>" onclick="window.open('https://www.facebook.com/share.php?title=<%= @post.title %>&u=http://www.kumarsjournal.com<%= request.fullpath %>','newwindow', 'width=400,height=350'); return false;""><i class="fab fa-facebook-f"></i></a>
		</div>
		<div class="tw share d-lg-flex d-inline justify-content-center">
			<a href="https://twitter.com/share?lang=en&text=<%= @post.title %>&url=http://www.kumarsjournal.com<%= request.fullpath %>" onclick="window.open('https://twitter.com/share?lang=en&text=<%= @post.title %>&url=http://www.kumarsjournal.com<%= request.fullpath %>', 'newwindow', 'width=400, height=350'); return false;"><i class="fab fa-twitter"></i></a>
		</div>
		<div class="gp share d-lg-flex d-inline justify-content-center">
			<a href="https://plus.google.com/share?hl=en-us&url=http://www.kumarsjournal.com<%= request.fullpath %>" onclick="window.open('https://plus.google.com/share?hl=en-us&url=http://www.kumarsjournal.com<%= request.fullpath %>', 'newwindow', 'width=400, height=350'); return false;"><i class="fab fa-google-plus-g"></i></a>
		</div>
		<div class="wa share d-lg-flex d-inline justify-content-center">
			<a href="whatsapp://send?text=<%= @post.title %>http://www.kumarsjournal.com<%= request.fullpath %>"><i class="fab fa-whatsapp"></i></a>
		</div>
	</div>
</div>

<div class="follow follow-fb">
	<div class="fb-follow" data-href="https://www.facebook.com/ankiitkumar07" data-layout="button_count" data-size="large" data-show-faces="true"></div>
</div>
<div class="follow follow-twitter">
	<a class="twitter-follow-button" href="https://twitter.com/meAnkitKumar" data-show-count="true" data-size="large" data-show-screen-name="false"></a>
</div>
<div class="follow follow-gplus">
	<div class="g-follow" data-annotation="bubble" data-height="24" data-href="//plus.google.com/u/0/102488716494488744951" data-rel="author"></div>
</div>
<div class="follow follow-youtube">
	<div class="g-ytsubscribe" data-channelid="UCotDnRWLtjJ4QGDlxTb8TQA" data-layout="default" data-theme="dark" data-count="default"></div>
</div>



<script src="https://apis.google.com/js/platform.js" async defer></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
<script>
$(document).ready(function(){
	$(window).on('scroll', function(){
		var si = $('.social-box');
		var sc = $(window).scrollTop();
		var th = $('#this-head').offset().top;
		var h = si.height();
		var winWidth = $(window).width();
		// $('#text').text(sc +' '+ th);
		if(winWidth > 768){
			if(sc> (th-h-500)){
				si.css({'opacity':0, 'right': '5rem'});
			}else{
				si.css({'opacity':1, 'right': '6rem'});
			}
		}else{
			if(sc> (th-600)){
				si.css({'opacity':0});
			}else{
				si.css({'opacity':1});
			}
		}
	})
})
</script>