

<!-- randon quote section 1 -->
	<div class="back">
		<div class="blurred"></div>
		<div class="quote" id="quote">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 col-sm-12" id="q1">
						<div class="col-md-12 left">
							<blockquote class="blockquote">
								<i class="fa fa-quote-left"></i>
									We travel not to escape life, but life not to escape us.
									<br>
									 <cite>-Anonymous</cite>
								
							</blockquote>	
						</div>
					</div>				
				</div>
			</div>
		</div>
	</div>
<!-- randomquote section 1 -->


<!-- blog section -->
		<section id="blog">
			<div class="blog">
					<div class="container">
						<div class="row">
							<div class="post">
								<% @top_five_posts.each_slice(1) do |post| %>
									<% post.each do |post| %>
										<div class="post-box">
											<%= link_to '', posts_path %>
											<div class="photo" style="background-image: url(<%= post.cover %>)">
												<div class="category">
													<p><%= post.tag_list.first=="Destination" ? "Destination" : "Exploring Cities" %></p>
												</div>
											</div>
											<div class="heading-and-excerpt">
												<div class="heading">
													<h2><%= post.title %></h2>
												</div>
												<div class="excerpt">
													<p><%= excerpt(post.body, ' ', radius: 100).html_safe %></p>
												</div>
											</div>
											<div class="date-and-user">
												<div>
													<p><%= post.created_at.strftime('%d %B, %y') %></p>
												</div>
												<div>
													<p><%= post.user.name %></p>
												</div>
											</div>		
										</div>
									<%end%>
								<%end%>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12 text-center">
								<%= link_to 'See All My Posts', posts_path, class: 'btn btn-primary btn-lg' %>
							</div>
						</div>
					</div>
			</div>
		</section>

<!-- blog section -->


<!-- randon quote section 2 -->

	<div class="back">
		<div class="blurred"></div>
		<div class="quote">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12" id="q2">
						<div class="col-md-12 left">
							<blockquote class="blockquote" id="quote2">
								<i class="fa fa-quote-left"></i>
									This heart of mine was made to travel this world.
									<br>
									 <cite>-Anonymous</cite>
								
							</blockquote>	
						</div>
					</div>				
				</div>
			</div>
		</div>
	</div>
<!-- randomquote section 2 -->


<!-- photo section start here -->

		<section id="photos">
			<div class="container-fluid photos">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<h1 class="text-center" style="padding:36px;">Photo Gallery</h1>

						<hr class="soften">
					</div>
				</div>
					<div class="masonry">
						<div id="block-1"></div>
						<div id="block-2"></div>
						<div id="block-3"></div>
						<div id="block-4"></div>
						<div id="block-5"></div>
						<div id="block-6"></div>
						<div id="block-7"></div>
						<div id="block-8"></div>
						<div id="block-9"></div>
					</div>
			</div>
		</section>

<!-- photo section end here -->



<!-- mini intro section -->
		<section id="intro">
			<div class="intro-box">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<div class="col-md-12">
								<img src="https://dl.dropboxusercontent.com/s/8gdo3pkfsqhdem0/intro.JPG?dl=0" class="img-circle" height="200px" width="200px"> 
							</div>
						</div>	
						<div class="col-md-8 col-sm-8">
							<div class="col-md-12">
								<h1 class="text-center intro-head">Hii Guys! </h1>
								<hr class="soften"></hr>
								<p>My name is Ankit Kumar. I am a Computer Science Engineer. </p>
								<p>I developed the avidity to travel since I was a kid. Meeting new people, understanding their culture, has always amused in some or other way. By profession I’m a web designer, but travel has always helped me to reflect myself better in my work.</p>
								<p>Here I’ll be telling you all my small and big experiences about my journeys.</p>
								<a href="https://instagram.com/ankiitkumar" class="btn">Know me better by following this link.</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

<!-- mini intro section -->