<% get_feedback_var %>

<%= form_for(@feedback, :url => feedbacks_path, remote: true) do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% @feedback.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, class: 'sr-only' %>
    <%= f.text_field :name, placeholder: 'Name'%>
  </div>

  <div class="field">
    <%= f.label :email, class: 'sr-only' %>
    <%= f.text_field :email, placeholder: 'Email' %>
  </div>

  <div class="field">
    <%= f.label :message, class: 'sr-only' %>
    <%= f.text_area :message, placeholder: 'Type Your Message Here!' %>
  </div>

  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary">Send <i class="fa fa-caret-right"></i></button>
  </div>
<% end %>
