
<div class="container">
    <%= form_for(post, html: {class: "form-horizontal"}) do |f| %>
      <% if post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
          <% post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-12">
            <%= f.text_field :title, :placeholder => 'Title' %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
            <%= f.text_field :cover, :placeholder => 'Path for Cover' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <%= f.text_field :tag_list, value: f.object.tag_list.to_s, :placeholder => 'Tags Seperated by Commas' %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10">
            <%= f.label :body, class: "sr-only" %>
            <%= f.text_area :body, :placeholder => "Enter HTML Code for body and images" %>
        </div>
          <div class="col-md-2 py-4">
          <%= render partial: "partials/toolkit" %>
        </div>
      </div>
    

    <div class="row">
        <div class="col-sm-6 col-md-6"> 
            <div class="actions">
                <%= f.submit %>
              </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <%= link_to 'Cancel Post <i class="fa fa-ban"></i>'.html_safe, posts_path, class:'btn btn-primary' %>
        </div>
    </div>
      
    <% end %>    
</div>



