<% @post_one = Post.order(created_at: :desc).first %>
<% @post_two = Post.order(created_at: :desc).second %>
<% @post_three = Post.order(created_at: :desc).third %>

<div class="grid-item collapsed one border border-grey">
  <img src="<%= @post_one.cover %>" alt="">
  <div class="title">
    <h3><%= @post_one.title %></h3>
    <p><%= excerpt(@post_one.body, ' ', radius: 100).html_safe %></p>
  </div>
  <a href=""></a>
</div>
<div class="grid-item collapsed two border border-grey">
  <img src="<%= @post_two.cover  %>" alt="">
  <div class="title">
    <h3><%= @post_two.title %></h3>
    <p><%= excerpt(@post_two.body, ' ', radius: 100).html_safe %></p>
  </div>
  <a href="#"></a>
</div>
<div class="grid-item collapsed three border border-grey">
  <img class="rounded" src="<%= @post_three.cover %>" alt="">
  <div class="title">
    <h3><%= @post_three.title %></h3>
    <p><%= excerpt(@post_three.body, ' ', radius: 100).html_safe %></p>
  </div>
  <a href="#"></a>
</div>