<p id="notice"><%= notice %></p>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- post conatiner -->

<div class="container-fluid post-container">
	<div class="post-header">
		<div class="container">
			<div class="row">
				<p>Tags: <%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
				<div class="cover-container" style="background-image: url(<%= @post.cover %>);"></div> <!-- cover-conatiner -->
			</div> <!-- row -->
			<div class="row">
				<div class="title-container">
					<h1 class="display-1"><%= @post.title %></h1>
				</div> <!-- title-container -->
			</div> <!-- row -->
		</div> <!-- container -->
	</div> <!-- post header ends -->

	<div class="container">
		<div class="row">
			<div class="col-md-10 col-sm-12">
				<div class="col-md-12">
					<div class="content-container">							
						<%= simple_format(@post.body,{}, sanitize: false) %>
					</div> <!-- content-container -->
				</div>
			</div> <!-- col-md-8 -->
			<div class="col-md-2 col-sm-12">
				<div class="col-md-12">
					<%= render :partial => 'partials/social-media' %>
				</div>
			</div>
		</div> <!-- row --> 
	</div> <!-- container -->

</div> <!-- post-container -->

<!-- post container -->

<div class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<h3>Also Read : </h3>
			<div class="partial-banner">
				<%= render :partial => 'partials/sidebar' %>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12">	
			<%= render :partial => 'partials/comments' %>
		</div>
	</div>
</div>



<div class="container">
	<div class="row">
		<% if user_signed_in? && @post.user == current_user %>
			<div class="col-md-4 col-sm-4 text-center">
				<%= link_to 'Edit', edit_post_path(@post), class:"btn btn-primary" %> 
			</div>
			<div class="col-md-4 col-sm-4 text-center">
				<%= link_to 'See More Stories', posts_path , class:"btn btn-default" %>
			</div>
			<div class="col-md-4 col-sm-4 text-center">
				<%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"btn btn-warning" %>
			</div>
		<% elsif user_signed_in? && @post.user != current_user %>
			<div class="col-md-6 col-sm-4 text-center">
				<%= link_to 'See More Stories', posts_path , class:"btn btn-default" %>
			</div>
			<div class="col-md-6 col-sm-4 text-center">
				<%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"btn btn-warning" %>
			</div>
		<%else%>
			<div class="col-md-12 col-sm-12 text-center">
				<%= link_to 'See More Stories', posts_path , class:"btn btn-default" %>
			</div>
		<% end %>
	</div>
</div>



