<p id="notice" style="display: inline;"><%= notice %></p>


<div class="container-fluid">
  <div class="row">
    <div class="col-12 px-0">
      <div class="post-cover" style="background-image: url(<%= @post.cover %>">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div id="tags">
              <span>Tags:</span> 
              <ul>
              	<li><%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join('</li><li>') %></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div id="post-heading" class="col-md-12">
            <h1 class="display-2"><%= @post.title %></h1>
          </div>
        </div>
         <%= render :partial => 'partials/social-media' %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-5">
    <div class="col-sm-12 col-md-8" id="post-body">
		<%= simple_format(@post.body,{}, sanitize: false) %>
    </div>
    	<%= render :partial => 'partials/sidebar' %>
  </div>
</div>

<div class="container mt-5">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<h3 id="this-head">Related Posts: </h3>
			<div class="partial-banner">
				<%= render :partial => 'partials/showRelatedPosts' %>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12">	
			<%= render :partial => 'partials/comments' %>
		</div>
	</div>
</div>



<div class="container">
	<div class="row">
		<% if user_signed_in? && @post.user == current_user %>
			<div class="col-md-4 col-sm-4 text-center">
				<%= link_to 'Edit', edit_post_path(@post), class:"btn btn-primary" %> 
			</div>
			<div class="col-md-4 col-sm-4 text-center">
				<%= link_to 'See More Stories', posts_path , class:"btn btn-default" %>
			</div>
			<div class="col-md-4 col-sm-4 text-center">
				<%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"btn btn-warning" %>
			</div>
		<% elsif user_signed_in? && @post.user != current_user %>
			<div class="col-md-6 col-sm-4 text-center">
				<%= link_to 'See More Stories', posts_path , class:"btn btn-default" %>
			</div>
			<div class="col-md-6 col-sm-4 text-center">
				<%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"btn btn-warning" %>
			</div>
		<%else%>
			<div class="col-md-12 col-sm-12 text-center">
				<%= link_to 'See More Stories', posts_path , class:"btn btn-default" %>
			</div>
		<% end %>
	</div>
</div>



