    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 myCols">
                    <h5>Blog Links</h5>
                    <ul>
                        <li><%= link_to 'Home', root_path %></li>
                        <li><%= link_to 'Blog', posts_path %></li>
                        <li><%= link_to 'Who I Am', about_me_index_path %></li>
                        <% if user_signed_in? %>
                            <li><%= link_to 'New Post', new_post_path %></li>
                            <li><%= link_to 'Profile', username_path(current_user) %></li>
                        <%else%>
                            <li><%= link_to 'Login', new_user_session_path %></li>
                        <%end%>
                    </ul>
                </div>
                <div class="col-sm-3 myCols">
                    <h5>Tags</h5>
                    <ul>
                        <% @tags.each_slice(1) do |tag| %>
                            <% tag.each do |tag| %>
                                <li><%= link_to tag, tag_path(tag)  %></li>
                            <%end%>
                        <%end%>
                        <li id="tag" onclick="openModal()">More...</li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-5 myCols">
                    <h5>Drop your Valuable Feedback</h5>
                    <div class="myColsForm">
                        <input type="text" placeholder="Name" id="name">
                        <textarea placeholder="Type Your Message Here!" id="message"></textarea>
                        <button type="submit" class="btn btn-primary">Send <i class="fa fa-caret-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-networks">
            <a target="_blank" href="https://www.twitter.com/meankitkumar" class="twitter"><i class="fa fa-twitter"></i></a>
            <a target="_blank" href="https://www.facebook.com/ankiitkumar07" class="facebook"><i class="fa fa-facebook-official"></i></a>
            <a target="_blank" href="https://plus.google.com/102488716494488744951" class="google"><i class="fa fa-google-plus"></i></a>
            <a target="_blank" href="https://www.instagram.com/ankiitkumar" class="instagram"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="footer-copyright">
            <p> <i class="fa fa-copyright"></i> 2017 - Kumar's Journal </p>
            <p>Designed with <i class="fa fa-heart fa-1x"></i> and lots of <i class="fa fa-code fa-1x"></i> by Ankit Kumar</p>
        </div>
    </footer>


    <div class="myModal" id="modal">
        <div class="modalHeader">
            <h3>View Post by Tags</h3>
            <button onclick="closeModal()">
                <i class="fa fa-times"></i>
            </button>
        </div>
        <div class="modalBody">
            <% @firstLetter.each do |letter, items| %>
                <h4><%= letter %></h4>
                <ul>
                    <% items.each do |item| %>
                        <li><%= link_to item, tag_path(item.name)  %></li>
                    <% end %>
                </ul>
            <% end %>
        </div>
    </div>


