    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 myCols">
                    <h5>Blog Links</h5>
                    <ul>
                        <li><%= link_to 'Home', root_path %></li>
                        <li><%= link_to 'Blog', posts_path %></li>
                        <li><%= link_to 'Gallery', gallery_path %></li>
                        <li><%= link_to 'Who I Am', about_me_index_path %></li>
                        <% if user_signed_in? %>
                            <li><%= link_to 'New Post', new_post_path %></li>
                            <li><%= link_to 'Profile', username_path(current_user) %></li>
                        <%else%>
                            <li><%= link_to 'Admin', admin_path %></li>
                        <%end%>
                    </ul>
                    <h5>Legal</h5>
                    <ul>
                        <li><%= link_to 'Terms', legal_terms_path %></li>
                        <li><%= link_to 'Privacy Policy', legal_privacy_path %></li>
                        <li><%= link_to 'License', legal_license_path %></li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols">
                    <h5>Tags</h5>
                    <ul>
                        <% @tags.each_slice(1) do |tag| %>
                            <% tag.each do |tag| %>
                                <li><%= link_to tag, tag_path(tag)  %></li>
                            <%end%>
                        <%end%>
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#openModal">
                          More...
                        </button>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-5 myCols">
                    <h5>Drop your Valuable Feedback</h5>
                    <div class="myColsForm">
                        <%= render 'feedbacks/form' %>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-networks">
            <a target="_blank" href="https://www.twitter.com/meankitkumar" class="twitter"><i class="fab fa-twitter"></i></a>
            <a target="_blank" href="https://www.facebook.com/ankiitkumar07" class="facebook"><i class="fab fa-facebook"></i></a>
            <a target="_blank" href="https://plus.google.com/102488716494488744951" class="google"><i class="fab fa-google-plus"></i></a>
            <a target="_blank" href="https://www.instagram.com/ankiitkumar" class="instagram"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="footer-copyright">
            <p> <i class="fa fa-copyright"></i> 2019 - Kumar's Journal </p>
            <p>Designed with <i class="fa fa-heart fa-1x"></i> and lots of <i class="fa fa-code fa-1x"></i> by Ankit Kumar</p>
        </div>
    </footer>
<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="openModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Explore By Tags</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% @firstLetter.each do |letter, items| %>
                <h4><%= letter %></h4>
                <ul>
                    <% items.each do |item| %>
                        <li><%= link_to item, tag_path(item.name)  %></li>
                    <% end %>
                </ul>
            <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


