 <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
 	<%= link_to root_path, class: 'navbar-brand' do %>
		<img src="https://dl.dropboxusercontent.com/s/mk1q5ugcbe4zdr1/Logo.png?dl=0" alt="Brnad Logo" height="63" width="65" class="d-inline-block align-top"> Kumar's Journal <span class="brand-sub">Travel. Explore. Adventure.</span>
 	<% end %>
 	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#search-bar" aria-expanded="false" aria-label="Toggle Search" id="nav-search-toggler">
 		 <i class="fa fa-search"></i>
 	</button>
 	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarUL" aria-expanded="false" aria-label="Toggle navigation">
 		 <span class="navbar-toggler-icon"></span>
 	</button>

 	<div class="collapse navbar-collapse" id="navbarUL">
	    <ul class="navbar-nav mr-auto">
	      <li class="<%= params[:controller] == 'home' && params[:action] == 'index' ? 'nav-item active' : 'nav-item' %>">
	        <%= link_to 'Home', root_path, class: 'nav-link' %>
	      </li>
	      <li class="<%= params[:controller] == 'posts' ? 'nav-item active' : 'nav-item' %>">
	        <%= link_to 'Blog', posts_path, class: 'nav-link' %>
	      </li>
	      <li class="<%= params[:controller] == 'about_me' && params[:action] == 'gallery' ? 'nav-item active' : 'nav-item' %>">
	        <%= link_to 'Gallery', gallery_path, class: 'nav-link' %>
	      </li>
	      <li class="<%= params[:controller] == 'about_me' && params[:action] == 'index' ? 'nav-item active' : 'nav-item' %>">
	        <%= link_to 'Know Me', about_me_index_path, class: 'nav-link' %>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Categories
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <%= link_to 'Destination Travel', tag_path("Destination"), class: 'dropdown-item' %>
	          <%= link_to 'Getting Religious', tag_path("Religious"), class: 'dropdown-item' %>
	          <%= link_to 'On Road Travel', tag_path("Explore"), class: 'dropdown-item' %>
	          <%= link_to 'Travel Tips', tag_path("Travel Tips"), class: 'dropdown-item' %>
	        </div>
	      </li>
	    </ul>
	  </div>
	  <div class="collapse navbar-collapse" id="search-bar">
	    <ul class="navbar-nav ml-auto nav-search">
	    	<form class="form-inline my-2 my-lg-0 nav-search-form">
		      <input class="form-control mr-sm-2" type="search" placeholder="Search Posts" popover="" aria-label="Search" disabled>
		      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
		    </form>
	    </ul>
	  </div>
 </nav>
 <% if params[:controller] == 'home' && params[:action] == 'index'  %>
<!-- photo section start here -->
	<section id="photos">
		<div class="container-fluid photos">
			<div class="masonry">
				<div id="block-1">
					<p>Spituk Gompa - Leh</p>
					<div class="loading">
						<div class="spinner"></div>
					</div>
				</div>
				<div id="block-2">
					<p>En Route Khirganga</p>
					<div class="loading">
						<div class="spinner"></div>
					</div>
				</div>
				<div id="block-3">
					<p>At Bhagsu Falls</p>
					<div class="loading">
						<div class="spinner"></div>
					</div>
				</div>
				<div id="block-4">
					<p>Hall Of Fame - Leh</p>
					<div class="loading">
						<div class="spinner"></div>
					</div>
				</div>
				<div id="block-5">
					<p>The Quote</p>
					<div class="loading">
						<div class="spinner"></div>
					</div>
				</div>
				<div id="block-6">
					<p>Haveli, Punjab</p>
					<div class="loading">
						<div class="spinner"></div>
					</div>
				</div>
				<div id="block-7">
					<p>Boat House - Allepey Backwaters</p>
					<div class="loading">
						<div class="spinner"></div>
					</div>
				</div>
				<div id="block-8">
					<p>Tea Gardens - Munnar</p>
					<div class="loading">
						<div class="spinner"></div>
					</div>
				</div>
				<div id="block-9">
					<p>Table View Point - Mahabaleshwar</p>
					<div class="loading">
						<div class="spinner"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- photo section end here -->
<%end%>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>