<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title%> | Kumar's Journal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>


<!-- naviagtion bar -->

	<%= render :partial => "layouts/navbar" %>

<!-- navigation bar ends here -->

     
    <%= yield %>


 <!-- footer section starts here  -->

<%= render :partial => "layouts/footer" %>

<!-- footer section ends here  -->
  </body>
</html>
