<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title%> | Kumar's Journal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url"           content="http://www.kumarsjournal.com<%= request.fullpath %>" />
    <meta property="og:type"          content="Travel Blog" />
    <meta property="og:title"         content="Kumar's Jounral" />
    <meta property="og:description"   content="<%= @page_tite %>" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <div id="fb-root"></div>


<!-- naviagtion bar -->

	<%= render :partial => "layouts/navbar" %>

<!-- navigation bar ends here -->

     
    <%= yield %>


 <!-- footer section starts here  -->

<%= render :partial => "layouts/footer" %>

<!-- footer section ends here  -->
  </body>
</html>
